<div class="py-3 border-bottom border-secondary">
  <h1 class="display-5 fw-bold text-light" data-text="{{ site.data.hero.name }}">{{ site.data.hero.name }}</h1>
  <p class="lead mt-3">
    {{ site.data.hero.tagline }}
  </p>
  <div class="d-flex flex-wrap gap-3">
    {% for btn in site.data.hero.buttons %}
      {% assign btn_url = btn.url %}
      {% unless btn.url contains '://' or btn.url contains 'mailto:' or btn.url contains '#' %}
        {% assign btn_url = btn.url | relative_url %}
      {% endunless %}
      <a href="{{ btn_url }}" class="btn {{ btn.style }} px-4 py-2 fw-bold rounded-0">
        <i class="{{ btn.icon }} me-2"></i>{{ btn.text }}
      </a>
    {% endfor %}
  </div>
</div>