<nav class="navbar navbar-expand-lg navbar-dark bg-black border-bottom border-secondary">
  <div class="container">
    <a class="navbar-brand fw-bold text-uppercase" href="/">R&D Lab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Core</a></li>
        <li class="nav-item"><a class="nav-link" href="/projects">Systems</a></li>
        <li class="nav-item"><a class="nav-link" href="/hardware">Hardware</a></li>
        <li class="nav-item"><a class="nav-link" href="/photography">ISP Gallery</a></li>
      </ul>
    </div>
  </div>
</nav>
